body{
    color: white;
}
#conteneur {
     width: 80%;
     padding: 5px;

}
header{
    height: 60px;
    background-color:#8e3557 ;
}
p{
    margin:0;
}


nav{
    background-color: #4a1a2c;
}
main{
    border: 2px solid black;
    padding: 5px;
    min-height: 100px;
    margin: auto;
    
    
}
section {
    background-color: orange;
    height: 200px;
}
div.dim{
    width: 50%;
    height: 200px;
    float: left;
}
.bordeau {
    background-color: #4a1a2c;
}
.vert-claire {
    background-color: #e6e2af;
}
.bleu{
    background-color: #add8e6;
}
.vert-fonce{
    background-color: #635d14;
}
.clear{
    clear: both;
}